.corpo{
    background-color: rgb(0, 17, 255);
}
.titulo{
    font-size: 50px;color: rgb(0, 255, 13);background: rgb(255, 230, 0);text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}